<main>
  <h2>Students</h2>
  <% @students.each do |student| %>
    <article id="student-<%= student.id %>">
      <p><%= student.name %>: <%= student.professors.length %></p>
    </article>
  <% end %>
</main>