<main>
  <h2>Professors</h2>
  <% @professors.each do |professor| %>
    <article id="professor-<%= professor.id %>">
      <p><%= professor.name %><br/>
      <%= professor.age %><br/>
      <%= professor.specialty %></p>
    </article>
  <% end %>
</main>